body {
background: LightSteelBlue;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: steelblue;
text-align: center;
}

.project img{
width: 125%;
height: 125%;
margin: 10px;
border: 50px solid rgba(14, 123, 201, 0.664); /* choose a color */
display: block;
margin: auto;
}
a {
    text-decoration: none;
    color: purple;
}
.project p
{
    text-align: center;
    margin: 10px;
}